# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
web-build/

# Build artifacts
dist/
build/
*.tsbuildinfo

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Env
.env
.env.*
